# Google Sheets Integration Web App URL (Google Apps Script)
# See GOOGLE_SHEET_INSTRUCTIONS.md for steps to deploy your Google Apps Script
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/XXXXX-YOUR-DEPLOYMENT-ID-XXXXX/exec
